:root {
    font-family: Arial, Helvetica, sans-serif;
    --black-color: #4b4b4b;
    --grey-color: #f0f0f0;
    --dark-grey-color: #d9d9d9;
    --dark-green-color: #80b918;
    --green-color: #e1fdad;
    --dark-blue-color: #52abff;
    --blue-color: #b3daff;
    --orange-color: #ffad54;
    --dark-yellow-color: #e8a92b;
    --yellow-color: #ffe574;
    --red-color: #e85621;
}

li {
    font-size: 14px;
}

p {
    font-size: 14px;
    margin: 5px;
    line-height: 1.4rem;
    max-width: 350px;
}

a {
    text-decoration: underline;
    color: var(--dark-green-color);
    transition: color 0.3s ease;
}

a:hover {
    color: #8cca1a;
}

body {
    color: var(--black-color);
    background-color: var(--grey-color);
    margin: 0;
}

h2, h3, .sm-heading {
    font-weight: bold;
}

h2, h3 {
    margin: 10px;
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}

.msg {
    color: var(--red-color);
}

.right-text {
    margin-left: 10px;
}

.to-right {
    align-self: flex-end;
    margin-right: 15px;
}

.to-left {
    align-self: flex-start;
}

.to-bottom {
    margin-top: auto !important;
    margin-bottom: 100px;
}

/* Buttons */

.btn-primary {
    border: none;
    border-radius: 15px;
    color: white;
    background-color: var(--black-color);
    height: 55px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #5a5a5a;
}

.btn-primary.green {
    background-color: var(--green-color);
    color: var(--black-color);
}

.btn-primary.green:hover {
    background-color: #d3eea1;
}

.btn-primary.blue {
    background-color: var(--blue-color);
    color: var(--black-color);
}

.btn-primary.blue:hover {
    background-color: #a9cff4;
}

.btn-primary.btn-white {
    background-color: white;
    color: var(--black-color);
}
.btn-primary.btn-white:hover {
    background-color: #f4f4f4;
}

.btn-primary.btn-red {
    background-color: var(--orange-color);
    border: 2px solid var(--red-color);
    color: var(--red-color);
}

.btn-primary.btn-red:hover {
    background-color: #ff9d33;
}

.btn-outline {
    border: 2px solid var(--black-color);
    background-color: transparent;
    color: var(--black-color);
}

.btn-outline:hover {
    background-color: var(--dark-grey-color);
}

/* Components and containers */

.auth-input {
    border: none;
    border-radius: 15px;
    height: 50px;
    flex: 1;
    padding-left: 15px;
    width: 300px;
}

.auth-input::placeholder {
    font-size: 14px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    margin-top: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: white;
    max-width: 350px;
    padding: 10px;
}

.clickable {
    cursor: pointer;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.icon-row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.col.center {
    align-items: center;
    justify-content: center;
}

.col.center-align {
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 7px;
}

.row-landing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.scrollable {
    max-height: 50%;
    overflow-y: auto;
}

/* Elements */

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -2px;
    width: 20px;
    height: 20px;
    background-color: var(--red-color);
    border-radius: 50%;
    z-index: 1;
}

.arrow-back {
    margin-bottom: 10px;
    cursor: pointer;
}

.task-mark {
    position: absolute;
    right: 10px;
}

.outline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--black-color);
    height: fit-content;
    min-width: 80px;
    padding: 0px 2px 0px 2px;
}

.outline-box.tab-active {
    border: 2px solid var(--dark-green-color);
    background-color: var(--green-color);
    color: var(--dark-green-color);
}

.outline-box.tab {
    border: none;
}

.hl {
    flex: 1;
    height: 2px;
    max-width: 300px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider p {
    flex: 1;
}

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.card.landing-feature {
    max-width: 250px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.card.popup {
    position: fixed;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.container.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
}

.progress-bar {
    border-radius: 15px;
    width: 100%;
    height: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.bar-shine {
   width: 90%;
   height: 20%;
   border-radius: 15px;
   background-color: #75bcff;
   align-self: flex-start;
   margin: 4px 5px 0px 4px
}

.card.popup.store {
    top: 75%;
    border: 2px solid var(--dark-grey-color);
    width: 90%;
    align-items: flex-start;
}

.companion {
    position: relative;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
}

.companion-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    z-index: 2;
}

.companion-base {
    z-index: 1;
    width: 300px;
    height: 300px;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    height: 70px;
    background-color: white;
    border-top: 2px solid var(--dark-grey-color);
    align-self: center;
    position: fixed;
    bottom: 0;
}

.card.landing-demo {
    padding: 25px;
    max-width: 350px;
}

.landing-img {
    max-width: 300px;
    border-radius: 15px;
    border: 2px solid var(--dark-grey-color);
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}
      
