:root {
    font-family: Arial, Helvetica, sans-serif;
    --black-color: #2b2b2b;
    --grey-color: #EFEFEF;
    --dark-grey-color: #949796;
    --dark-green-color: #D9F253;
    --green-color: #e9ff70;
    --dark-blue-color: #35c6ff;
    --blue-color: #70d6ff;
    --orange-color: #ff9770;
    --dark-yellow-color: #e5af28;
    --yellow-color: #ffd670;
    --red-color: #ff0000;
}

li {
    font-size: 1rem;
}

.pixel-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px;
    line-height: 1.6rem;
    max-width: 350px;
}

button {
    font-size: 1rem;
}

.grey-subtext {
    color: var(--dark-grey-color);
    margin: 5px;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: var(--blue-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--dark-blue-color);
}

body {
    color: var(--black-color);
    background-color: var(--grey-color);
    margin: 0;
}

h2, h3, .sm-heading {
    font-weight: 600;
}

h2, h3 {
    margin: 5px;
}

h1 {
    margin: 5px;
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}

.msg {
    color: var(--red-color);
}

.to-right {
    margin-left: auto;
}

.to-left {
    align-self: flex-start;
}

.to-bottom {
    margin-top: auto;
    margin-bottom: 25px;
}

.clickable {
    cursor: pointer;
}

.pixelated-img {
    image-rendering: pixelated;
}

/* Buttons */

.btn-primary {
    border: none;
    border-radius: 25px;
    padding: 20px;
    color: white;
    background-color: var(--black-color);
    height: 50px;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.btn-primary:active {
    transform: scale(0.9);
}

.btn-primary.btn-white {
    background-color: white;
    color: var(--black-color);
}

/* Components and containers */

.auth-input {
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
    height: 50px;
    padding-left: 15px;
    width: 100%;
}

.auth-input::placeholder {
    font-size: 1rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.icon-row {
    display: flex;
    align-items: center;
}

.icon-row.w-bg {
    background-color: var(--dark-green-color);
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

.icon-row.w-bg.w-outline {
    background-color: transparent;
    border: 2px solid white;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 10px;
}

.col.center {
    align-items: center;
    justify-content: center;
}

.col.center-align {
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 7px;
}

.row-landing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}

.rect-bg {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.color-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* Elements */

.hl {
    flex: 1;
    height: 2px;
    max-width: 300px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider p {
    flex: 1;
}

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pill-container {
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
    background-color: var(--grey-color);
}

.card.landing-feature {
    max-width: 250px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.card.popup {
    align-items: center;
    text-align: center;
    max-width: 320px;
    gap: 10px;
    padding: 20px;
    z-index: 1000;
}

.container.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
}

.flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 194, 51, 0.2);
    border: 3px solid var(--dark-yellow-color);
    box-sizing: border-box;
    z-index: 9999;
}

.progress-bar {
    border-radius: 15px;
    width: 100%;
    height: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.bar-shine {
   width: 90%;
   height: 20%;
   border-radius: 15px;
   background-color: var(--blue-color);
   align-self: flex-start;
   margin: 4px 5px 0px 4px
}

.card.popup.store {
    width: 90%;
    max-height: 300px;
    padding-top: 10px;
    box-shadow: 0 0 4px #ccc;
    align-items: flex-start;
}

.card.store-element {
    cursor: pointer;
    border: 2px solid var(--grey-color);
    align-items: center;
    height: 135px;
}

.companion {
    position: relative;
    margin-bottom: 10px;
    image-rendering: pixelated;
    width: 300px;
    height: 300px;
}

.companion-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    image-rendering: pixelated;
    height: 300px;
    z-index: 2;
}

.companion-base {
    z-index: 1;
    width: 300px;
    height: 300px;
}

.tag {
    background-color: rgb(255, 0, 0, 0.5);
    color: var(--red-color);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.tag.right-tag {
    margin-left: auto;
}

.tag p {
    font-size: 0.8rem;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
    width: 100%;
    max-width: 300px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0 0 4px #ccc;
    backdrop-filter: blur(7px);
    position: fixed;
    bottom: 35px;
}

.nav-element {
    cursor: pointer;
}

.nav-element.active {
    display: flex;
    background-color: var(--black-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card.landing-demo {
    position: relative;
    padding: 25px;

    max-width: 350px;
}

.top-card {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0px 20px 5px 20px;
    box-sizing: border-box;
    background-color: var(--green-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.text-subtext {
    display: flex;
    flex-direction: column;
}

.landing-img {
    max-width: 300px;
    border-radius: 15px;
    border: 2px solid var(--dark-grey-color);
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

.no-max-width {
    max-width: none;
}

.card.floating-card {
    position: absolute;
    box-shadow: 5px 5px 5px rgb(204, 204, 204, 0.5);

}

.card.floating-card.right-card {
    top: 190px;
    right: 2%;
    max-width: 350px;
}

.card.floating-card.left-card {
    top: 150px;
    left: -3%;
    max-width: 370px;
}

.card.floating-card.square-card {
    width: fit-content;
}

#landing-icon-square1 {
  left: 30%;
  top: 265px;
  transform: rotate(-10deg);
}

#landing-icon-square2 {
    top: 280px;
    right: 34%;
    transform: rotate(10deg);
}

.fit-content {
    max-width: fit-content;
}

.navbar.navbar-landing {
    max-width: 80%;
    top: 25px;
    bottom: auto;
    z-index: 999;
}

.navbar-landing-link {
    text-decoration: none;
    color: var(--black-color);
}

.navbar-landing-link:hover {
    text-decoration: none;
    color: var(--dark-grey-color);
}

.list-icon {
    display: none;
}

.nav-mobile {
    position: absolute;
    top: 85px;
    gap: 15px;
    display: none;
}

.newsletter-input {
    height: 50px;
    width: 100%;
    max-width: 350px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: transparent;
}

.newsletter-input::placeholder {
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer {
    display: flex;
    background-color: var(--black-color);
    color: white;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 25px;
}

.upgrade-bg {
    background: linear-gradient(157deg,rgba(255, 112, 166, 1) 30%, rgba(255, 214, 112, 1) 70%, rgba(233, 255, 112, 1) 100%);
    color: white;
}

.circle-btn.black {
    display: flex;
    flex-direction: column;
    background-color: var(--black-color);
    height: 100px;
    width: 100px;
    cursor: auto;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}

@media screen and (max-width: 900px) {
    .navbar-landing-link.desktop {
        display: none;
    }

    .navbar.navbar-landing {
        max-width: 92%;
        gap: 15px;
    }

    .nav-mobile {
        display: flex;
    }

    #landing-icon-square1 {
        left: 10%;
        top: 300px;
        transform: rotate(-10deg);
    }

    #landing-icon-square2 {
        top: 300px;
        right: 10%;
        transform: rotate(10deg);
    }

    .row-landing {
        flex-direction: column;
        align-items: center;
        margin: 25px 10px 0px 10px;
    }

    .list-icon {
        display: block;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {
    .card.floating-card.left-card {
        display: none;
    }

    .card.floating-card.right-card {
        display: none;
    }
}